<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
	<connectionStrings>
		<!--<add name="SignaRConnection" connectionString="Data Source=S05-WEBDB-VT1;Initial Catalog=VinMecBase;user id=vmbase;password=vmbase@123;MultipleActiveResultSets=true;Pooling=False;App=EntityFramework" providerName="System.Data.SqlClient" />-->
		<!--<add name="VinMecBase.ConnString" connectionString="Data Source=S05-WEBDB-VT1;Initial Catalog=VinMecBase;user id=vmbase;password=vmbase@123;MultipleActiveResultSets=true;Pooling=False;" providerName="System.Data.SqlClient" />-->
		<!--<add name="VinMecBase.ConnString" connectionString="metadata=res://*/Models.VM_Base.csdl|res://*/Models.VM_Base.ssdl|res://*/Models.VM_Base.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.100.12.152;initial catalog=VinMecBase;user id=vmbase;password=vmbase@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
		<add name="VinMecBase.ConnString" connectionString="metadata=res://*/Models.VM_Base.csdl|res://*/Models.VM_Base.ssdl|res://*/Models.VM_Base.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=S05-WEBDB-VT1;initial catalog=VinMecBase_UAT;user id=vmbase;password=vmbase@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
		<!--<add name="SignalRContext2" connectionString="data source=S05-WEBDB-VT1;initial catalog=VinMecBase;user id=vmbase;password=vmbase@123;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />-->
	</connectionStrings>
	<appSettings>
		<add key="webpages:Version" value="3.0.0.0"/>
		<add key="webpages:Enabled" value="false"/>
		<add key="ClientValidationEnabled" value="true"/>
		<add key="UnobtrusiveJavaScriptEnabled" value="true"/>
		<add key="appid" value="1719850031"/>
		<add key="appkey" value="5E2A72B8-C665-421C-A9E6-2FF6E14E2139"/>
		<add key="appSecretKey" value="MTcxOTg1MDAzMTo1RTJBNzJCOC1DNjY1LTQyMUMtQTlFNi0yRkY2RTE0RTIxMzk="/>
		<add key="Base.Sso.Url" value="http://localhost:8080"/>
		<add key="BASE.API.URL" value="http://localhost:8886"/>
	</appSettings>
	<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
	<system.web>
		<machineKey validationKey="B57B1659827A88CC53D04BC50D81C88209C95A3CFA8AD52FF2C8D07141156E902BAFFDE83B73C0A5E01F9C61E5782C40D4A942CF8B4515DC108D54F5F8E0EF85" decryptionKey="4BD639EA67C12F96F9C90D809A772792FAE20123447369AA" validation="HMACSHA256" decryption="AES"/>
		<authentication mode="Forms">
			<forms name="VmSigninToken" loginUrl="http://localhost:8080/1719850031/Authen/Login" slidingExpiration="true">
				<!--<credentials passwordFormat="SHA1">
          <user name="demo" password="89e495e7941cf9e40e6980d14a16bf023ccd4c91" />
          password = demo
        </credentials>-->
			</forms>
		</authentication>
		<compilation debug="true" targetFramework="4.8"/>
		<httpRuntime targetFramework="4.6.1"/>
	</system.web>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f"/>
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed"/>
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
		</compilers>
	</system.codedom>
</configuration>